* {
    margin: 0px;
    padding: 0px;
}

#navBarContainer {
    height: 48px;
    background-color: #4F4D53;
    display: flex;
    justify-content: center;
}

#navBarContent {
    width: 900px;
    height: 48px;
    align-items: center;
    display: flex;
}

#heroIMG {
    width: 100%;
    height: 100%;
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 90px;
    color: #4F4D53;
    font-family: Roboto Black (900);
}

#mainContainer {
    display: flex;
    justify-content: center;
}

#mainContent {
    width: 900px;
    height: 200px;
    align-items: center;
    margin: 30px 0px;
}

#h2Margin {
    margin-bottom: 20px;
}

h2 {
    font-size: 64px;
    color: #E8BE02;
    font-family: Roboto Black (900);
}

p {
    font-size: 20px;
    color: #4F4D53;
    font-family: Roboto Regular (400)
}

#yellowBand {
    height: 12px;
    background-color: #E8BE02;
}

#footerContainer {
    height: 320px;
    background-color: #4F4D53;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

h3 {
    font-size: 20px;
    color: #E8BE02;
    font-family: Roboto Black (900);
    margin: 30px 0px;
}

h4 {
    font-size: 14px;
    color: #FFFFFF;
    font-family: Roboto Regular (400)
}

